@font-face {
   font-family: 'HE 1';
   font-display: swap;
   src: url('file:///Users/davidfurman/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-08-06_173814/fonts/HE%201/font.ttf');
}
